#main {
    font-family: Caladea;
    background-color: #B681D5;
    }

#image {
    max-width: 300px;
    max-height: 200px;
}

.row1 {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 2px;
}
