/*id attributes*/
#title{
    font-family: Caladea;
    text-align: center;
 }
 #main {
     font-family: Caladea;
     font-size: 18px;
     }
 
 #survey-form {
     background: rgb(100, 100, 235);
 }
 
 #description {
     text-align: center;
     font-size: 22px;
 }
 
 #caption {
     text-align: center;
 }
 
 #image {
     width: 300px;
     height: 200px;
 }

 #breed-link {
     color:aquamarine;
 }
 
 #dropdown,
 #name, 
 #email,
 #traits,
 #living
  {
     border-radius: 8px;
     border: none;
     font-size: 18px; 
     width: 900px;
     height: 50px;
 }
 
 #number,
 #yes,
 #no, 
 #single,
 #married,
 #children
 { 
     border-radius: 8px;
     border: none;
     font-size: 18px; 
     width: 50px;
     height: 25px;
 }
 
 #comments-textbox {
     font-family: Caladea;
     font-size: 18px;
     width: 900px;
     height: 100px;
     border-radius: 8px;
     border: none;
 }
 
 #submit {
     display: block;
     margin: auto;
     width: 50%;
     height: 70px;
   
     font-size: 25px;
     transition-duration: 0.3s;
     border-radius: 8px;
     border: none;
 }
 
 #submit:hover {
     background-color: #4CAF50;
     color: white;
 }
 
 
 /*Class attributes*/
 .container {
     margin: auto;
     max-width: 1000px;
 }
 
 .row {
     justify-content: center;
     display: flex;
     padding: 5px;
 }
 
 .column {
     padding: 3px;
 }