    #main {
        font-family: Magra;
        text-align: center;
        font-size: 20px;
        color: tan;
    }
    
    #img-div {
        justify-content: center;
        display: flex;
        padding: 5px;
    }
    
    #column {
        padding: 3px;
    }
    
    .legacy {
        text-align: left;
    }
    
    #image {
        display: block;
        max-width: 600px;
        max-height: 500px;
        border-width: 10px;
        border-color: black;
        border-style: solid;
    }
    
    #img-caption {
        text-align: center;
    }
    
    #tribute-info {
        text-align: left;
        font-size: 20px;
    }
    
    #unordered-list {
        text-align: left;
        font-size: 20px;
    }
    
    #tribute-link {
        color: orange;
    }